@charset 'utf-8';
.inner {
    max-width: 1320px;
    margin: 0 auto;

    /* background-color: #ff0; */
}

/* Header styles */
#header {
    width: 176rem;
    height: 7rem;
    /* border: 1px solid #000; */
    background: #fff;
    border-radius: 3rem;
    margin: 1rem auto;
    padding: 0 5rem;
    box-shadow: 0 0rem 1.2rem rgba(0, 0, 0, 0.16);

    position: relative;
}

.logo {
    width: 15rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

nav {
    width: 100%;
    height: 100%;
}

.gnb {
    width: 78.4rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gnb > li {
    position: relative;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 2rem;
    transform: translateX(-50%);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
    padding: 0;
    min-width: 150px;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
    z-index: 1000;
}
.submenu.active {
    max-height: 300px; /* 적절한 값으로 조정하세요 */
    padding: 10px 0;
}

.submenu li {
    padding: 8px 20px;
    opacity: 0;
    transition: 0.4s;
}

.submenu.active li {
    opacity: 1;
}

.gnb li a {
    font-size: 1.8rem;
    font-weight: 500;
}

.user-actions {
    width: 18.4rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-actions {
    width: auto;
    position: absolute;
    right: 0;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.user-actions li {
    width: 2.8rem;
    height: 2.8rem;
}

.user-actions li a {
    padding: 100%;
}

.user-actions li:nth-child(1) {
    background-image: url(../img/search-icon.svg);
}

.user-actions li:nth-child(1):hover {
    background-image: url(../img/search-icon-hover.svg);
}

.user-actions li:nth-child(2) {
    background-image: url(../img/cart-icon.svg);
}

.user-actions li:nth-child(2):hover {
    background-image: url(../img/cart-icon-hover.svg);
}

.user-actions li:nth-child(3) {
    background-image: url(../img/user-icon.svg);
}

.user-actions li:nth-child(3):hover {
    background-image: url(../img/user-icon-hover.svg);
}
/* 헤더 끝 */

/* 메인시작 */

/* 베스트-------------------------------------------------- */
.products-hero {
    width: 176rem;
    height: 30rem;
    border-radius: 2.4rem;

    background-color: rgb(148, 58, 58);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.products-hero h2 {
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
}

.products-intro {
    width: 100%;
    height: 40rem;
    background: #f9f;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.products-intro h2 {
    font-weight: 700;
    font-size: 6rem;
    color: #000;
}

.products-best-clog {
    width: 100%;
    height: 120rem;
    /* background: #f00; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.best-clog-list {
    width: 100%;
    height: 100%;

    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    gap: 6rem 2rem;
}

.best-clog-list li {
    width: 31.5rem;
    height: 100%;
    /* background: #fff; */

    position: relative;
}

.best-clog-list li figure {
    width: 100%;
    height: 23rem;
    background: #412;

    border-radius: 1rem;
    overflow: hidden;
}

.best-clog-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best-clog-list li span {
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
}

.best-clog-list li dl {
    width: 100%;
}
.best-clog-list li dt {
    font-weight: 700;
    font-size: 2.8rem;
}
.best-clog-list li dd {
    font-weight: 500;
    font-size: 2.2rem;
    margin-top: 1rem;
}

.best-clog-list li a {
    position: absolute;
    right: 2rem;
    bottom: 2.4rem;
}
.best-clog-info {
    padding: 1.5rem 2rem 2.4rem 2rem;
}
/* 베스트끝-------------------------------------------------- */

/* 남성베스트-------------------------------------------------- */
.products-mens-best-sellers {
    width: 100%;
    height: 60rem;
    /* background: #f00; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.mens-best-list {
    width: 100%;
    height: 100%;

    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.mens-best-list li {
    width: 31.5rem;
    height: 100%;
    /* background: #fff; */

    position: relative;
}

.mens-best-list li figure {
    width: 100%;
    height: 23rem;
    background: #412;

    border-radius: 1rem;
    overflow: hidden;
}

.mens-best-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mens-best-list li span {
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
}

.mens-best-list li dl {
    width: 100%;
}
.mens-best-list li dt {
    font-weight: 700;
    font-size: 2.8rem;
}
.mens-best-list li dd {
    font-weight: 500;
    font-size: 2.2rem;
    margin-top: 1rem;
}

.mens-best-list li a {
    position: absolute;
    right: 2rem;
    bottom: 2.4rem;
}
.mens-best-info {
    padding: 1.5rem 2rem 2.4rem 2rem;
}
/* 남성베스트끝-------------------------------------------------- */

/* 여성베스트-------------------------------------------------- */
.products-womens-best-sellers {
    width: 100%;
    height: 60rem;
    /* background: #f00; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.womens-best-list {
    width: 100%;
    height: 100%;

    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.womens-best-list li {
    width: 31.5rem;
    height: 100%;
    /* background: #fff; */

    position: relative;
}

.womens-best-list li figure {
    width: 100%;
    height: 23rem;
    background: #412;

    border-radius: 1rem;
    overflow: hidden;
}

.womens-best-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.womens-best-list li span {
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
}

.womens-best-list li dl {
    width: 100%;
}
.womens-best-list li dt {
    font-weight: 700;
    font-size: 2.8rem;
}
.womens-best-list li dd {
    font-weight: 500;
    font-size: 2.2rem;
    margin-top: 1rem;
}

.womens-best-list li a {
    position: absolute;
    right: 2rem;
    bottom: 2.4rem;
}
.womens-best-info {
    padding: 1.5rem 2rem 2.4rem 2rem;
}
/* 여성베스트끝-------------------------------------------------- */
/* 키즈베스트-------------------------------------------------- */
.products-kids-best-sellers {
    width: 100%;
    height: 60rem;
    /* background: #f00; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.kids-best-list {
    width: 100%;
    height: 100%;

    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.kids-best-list li {
    width: 31.5rem;
    height: 100%;
    /* background: #fff; */

    position: relative;
}

.kids-best-list li figure {
    width: 100%;
    height: 23rem;
    background: #412;

    border-radius: 1rem;
    overflow: hidden;
}

.kids-best-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kids-best-list li span {
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
}

.kids-best-list li dl {
    width: 100%;
}
.kids-best-list li dt {
    font-weight: 700;
    font-size: 2.8rem;
}
.kids-best-list li dd {
    font-weight: 500;
    font-size: 2.2rem;
    margin-top: 1rem;
}

.kids-best-list li a {
    position: absolute;
    right: 2rem;
    bottom: 2.4rem;
}
.kids-best-info {
    padding: 1.5rem 2rem 2.4rem 2rem;
}
/* 키즈베스트끝-------------------------------------------------- */
/* 지비츠베스트-------------------------------------------------- */

.products-jibbitz-charms {
    width: 100%;
    height: 100rem;
    /* background: #f00; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.jibbitz-best-list {
    width: 100%;
    height: 100%;

    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    gap: 4rem 2rem;
}

.jibbitz-best-list li {
    width: 65rem;
    height: 20rem;
    /* background: #fff; */

    display: flex;
    gap: 3rem;
}

.jibbitz-best-list li figure {
    width: 26rem;
    height: 100%;

    border-radius: 1rem;
    overflow: hidden;
    background: #412;
}

.jibbitz-best-list li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.jibbitz-best-list li dl {
    width: 100%;
}
.jibbitz-best-list li dt {
    font-weight: 700;
    font-size: 3.2rem;
}
.jibbitz-best-list li dd {
    font-weight: 500;
    font-size: 2.2rem;
}
.jibbitz-best-list li span {
    width: 10rem;
    height: 3.5rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: #a6c76d;
    border: 2px solid #a6c76d;
    border-radius: 50px;

    margin-top: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s;
}

.jibbitz-best-list li:hover span {
    background: #a6c76d;
    color: #fff;
}

.jibbitz-best-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 지비츠베스트끝-------------------------------------------------- */

/* 에필로그 */

.products-brand-message {
    width: 100%;
    height: 50rem;
    background: #f00;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #fff;
}

.products-brand-message p {
    font-weight: 600;
    font-size: 4rem;
}

.products-brand-message h2 {
    font-weight: 800;
    font-size: 5rem;
}

/* 에필로그끝 */

/* 메인끝 */

/* 푸터시작 */
#footer {
    width: 100%;
    height: 60rem;
    background-color: #f7f7f7;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-con-wrap {
    display: flex;
    align-items: center;
}

.footer-content {
    width: 100%;
    height: 100%;
    /* background: #454; */
}

.footer-logo {
    width: 18rem;
    height: 3.6rem;
}

.footer-logo img {
    width: 100%;
    height: 100%;
}

.footer-nav {
    width: 50rem;
    height: 100%;
    /* background: #f00; */

    margin-top: 4rem;
}

.footer-nav ul {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav ul li {
    font-weight: 600;
    font-size: 1.6rem;
    color: #000;

    transition: 0.4s;
}

.social-links {
    width: 24rem;
    height: 4rem;

    margin-top: 4rem;
}

.social-links ul {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links ul li {
    width: 4rem;
    height: 4rem;
    /* background: #fff; */

    cursor: pointer;
}

.social-links ul li:nth-child(1) {
    background-image: url(../img/youtube-logo.svg);
}

.social-links ul li:nth-child(2) {
    background-image: url(../img/twitter-logo.svg);
}

.social-links ul li:nth-child(3) {
    background-image: url(../img/facebook-logo.svg);
}

.copyright {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 160%;

    margin-top: 4rem;
}

.crocs-club {
    width: 28rem;
    height: 6rem;
    background: var(--main-color);
    border-radius: 3rem;
    border: 2px solid var(--main-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s;
}

.crocs-club p {
    font-weight: 600;
    font-size: 2rem;
    color: #fff;

    display: flex;
    align-items: center;
    gap: 2rem;

    transition: 0.4s;
}

.crocs-club p::after {
    content: "";
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    background: #fff;
    border-radius: 50%;

    background-image: url(../img/more-view-icon.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;

    transition: 0.4s;
}

/* 호버 */

.crocs-club:hover {
    background: #fff;
    border: 2px solid var(--main-color);

    cursor: pointer;
}

.crocs-club:hover p {
    color: var(--main-color);
}

.crocs-club:hover p::after {
    background: var(--main-color);
    background-image: url(../img/more-icon.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.crocs-club:hover b {
    display: block;
}
